{% extends 'base.html' %}
{% block title %}Sistema bitcoin - Página inicial{% endblock %}

{% block main %}

    <h4 class="tit">Informações sobre o endereço</h4>
    <div class="info_top">
        <b>Endereço:</b> {{ address }}<br>
        <b>Total de satoshis recebidos<span class="text-danger">*</span>:</b> {{ total_received }}<br>
        <b>Total de satoshis enviados<span class="text-danger">*</span>:</b> {{ total_sent }}<br>
        <b>Saldo<span class="text-danger">*</span>:</b> {{ balance }}<br>
        <b>Saldo<span class="text-danger">**</span>:</b> {{ unconfirmed_balance }}<br>
        <b>Saldo total<span class="text-danger">***</span>:</b> {{ final_balance }}<br>
        <b>Número de transações<span class="text-danger">*</span>:</b> {{ n_tx }}<br>
        <b>Número de transações<span class="text-danger">**</span>:</b> {{ unconfirmed_n_tx }}<br>
        <b>Número total de transações<span class="text-danger">***</span>:</b> {{ final_n_tx }}
    </div>

    <br><br>

    <p class="p_legend">
        <span class="text-danger">*</span> <b>Transações confirmadas:</b> Entraram em um bloco(confirmations > 0)<br>
        <span class="text-danger">**</span> <b>Transações não confirmadas:</b> Não entraram em um bloco(confirmations <= 0)<br>
        <span class="text-danger">***</span> <b>Transações confirmadas e não confirmadas</b>
    </p>

    {% if txrefs %}
        <h4 class="tit_sub">Informações das últimas transações desse endereço</h4>
        <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Hash da transação</th>
                        <th>Data</th>
                        <th>Valor(Satoshis)</th>
                        <th>Transações</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in txrefs %}
                    <tr>
                        <td><a href="{% url 'transaction' data.tx_hash %}">{{ data.tx_hash }}</a></td>
                        <td>{{ data.confirmed|date:'d/m/Y h:i' }}</td>
                        <td>{{ data.value }}</td>
                        <td>{{ data.confirmations }}</td>
                        <td>
                            {% if data.confirmations > 1 %}
                                <span class="text-success">Done</span>
                            {% else %}
                                <span class="text-warning">Pending</span>
                            {% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}