{% extends 'base.html' %}

{% block title %}Sistema bitcoin - Enviar e-mail{% endblock %}

{% block main %}
    <form class="form-signin">

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Enviar frações de moedas</h1>

            <p>Por favor, nos informe seu e-mail para podermos enviar um token,
                apenas assim você poderá enviar frações de moedas através de nossa plataforma.
            </p>

        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de E-mail"
                   required autofocus>
            <label for="inputEmail">Endereço de E-mail</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
    </form>
{% endblock %}