{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Sistema bitcoin - Enviar frações de moedas{% endblock %}

{% block main %}
    <form class="form-signin" method="post">{% csrf_token %}

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Enviar frações de moedas</h1>

            <p>safasdfasdfa sdf sfdsdfasafd.</p>

        </div>

        <div class="form-label-group">
            {{ form.value|add_class:"form-control"|attr:"placeholder=Valor enviado" }}
            <label for="{{ form.value.id_for_label }}">Valor enviado</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
    </form>
{% endblock %}